:root
{
    --primary-color: #b3b3b3;
    --primary-color-dark: #8a8987;
    --primary-color-dark-01: #6e6d6b;

    --secondary-color: ;

    --dark-color-light-01: #3a3939;
    --dark-color-light: #242323;
    --dark-color: #000;

    --light-color: #fff;
}