@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400&display=swap');

* {
    font-family: 'Roboto', sans-serif;
}

html {
    max-width: 100vw;
    min-height: 100vh;
    display: flex;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button.btn{
    font-size: 1rem;
    border: none;
}

.btn
{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 5px 30px;
    border-radius: 3px;
}

.btn.lg
{
    font-size: 1.2rem;
}

.btn.primary
{
    color: #ffffff;
    background-color: #497957;
}

.btn.danger
{
    color: #ffffff;
    background-color: #7c001f;
}

.hidden {
    display: none;
}

.mt-20
{
    margin-top: 20px;
}

.mb-5
{
    margin-bottom: 5px;
}

.mb-10
{
    margin-bottom: 10px;
}

.img_container
{
    width: 350px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 5px;
}

.label[for="photo"]
{
    cursor: pointer;
}

.form
{
    display: flex;
    flex-direction: column;
}

.textarea {
    width: 100%;
    font-size: .9rem;
}

.button_submit
{
    cursor: pointer;
    width: 100%;
    height: 30px;
}

.list {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px 0;
}

.list li
{
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}
.list li:hover
{
    box-shadow: 0px 10px 30px rgb(51 51 51 / 10%)
}

.list li a {
    display: flex;
}

.list li a div.img
{
    width: 170px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    margin-right: 10px;
    border-radius: 5px;
}

.list li a div.description
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0;
}

.list li a div.description span
{
    font-size: .8rem;
}

div.post
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.post > div
{
    margin-bottom: 10px;
}

div.post > p,
div.post > a
{
    margin-bottom: 5px;
}

.message_success { color: green; }
.message_warning { color: brown; }
.message_error { color: red; }